<!-- <footer class="pt-5 d-flex flex-column align-items-center mt-auto text-black-50 text-center fixed-bottom" style="background-color: rgb(0, 0, 0)">
     -->
    <!-- <ul class="icons ">
        <li><a href="https://twitter.com/girafficp4rk" class="icon brands fa fa-heart"><span class="label fa fa-twitter">Twitter</span></a></li>
        
        <li><a href="https://github.com/iplaydrumsonmyguitar" class="icon brands fa fa-github"><span class="label">Github</span></a></li>
        
        <li><a href="mailto:gadomski.brian@gmail.com" class="icon solid fa fa-envelope"><span class="label">Email</span></a></li>
    </ul> -->

<!-- Remove the container if you want to extend the Footer to full width. -->

<div class="container my-5">

    <footer class=" text-center text-white fixed-bottom " id='foot' style="background-color: rgb(0, 0, 0)">
    
      <!-- Grid container -->
    <div class="container p-2 pb-0">
      
      <section class="mb-1">
        <a class="btn  btn-floating baby" href="about-us" role="button"
          ><i class="fab "></i
        >About Us</a>
        <a class="btn  btn-floating " href="tos" role="button"
          ><i class="fab "></i
        >Terms of Service</a>
        <!-- <a class="btn  btn-floating " href="pp" role="button"
          ><i class="fab "></i
        >Privacy Policy</a> -->
        


      <!-- Grid container -->
    <div class="container p-2 pb-0">
      <!-- Section: Social media -->
      <section class="mb-1">
        
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/iPlayDrumsOnMyG" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/iplaydrumsonmyguitar/" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/iplaydrumsonmyguitar" role="button"
          ><i class="fab fa-github"></i
        ></a>

         <!-- Instagram -->
         <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/iplaydrumsonmyguitar/" role="button"
         ><i class="fab fa-instagram"></i
       ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
        <a href="https://brianpayne.netlify.com/">&copy;Brian Payne</a> || CloudCity LLC
    </div>
    <!-- Copyright -->
  </footer>
    
  </div>
  <!-- End of .container -->

    
   <!--  <div class="text-light d-flex justify-content-center pt-5 mg-5 ">
        <div class="h5 mt-5 pt-5 "><a href="https://www.brianpayne.netlify.com/">&copy;Brian Payne</a> || CloudCity LLC
        </div>
    </div>  -->
    </footer>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script> 
    <!-- Copyright -->
    
</body>
</html>

