<body class="bg-dark">
    <%- include('partials/header') -%>
    <div class="container text-center">
      <div class=" mt-5 p-3 bg-dark">
        <h1 class="text-light m-5 d-flex justify-content-center text-uppercase">About Us</h1>
            
    
    </div>
    <div class="text-center card">
    <div class=" text-light text-center bg-secondary border-light p-5">
                <h3 text-center>Here at SetLiszt, music is a *major* part of life. Every elements of music can be found in our lives: the rhythm of rain as it hits your windows; the high pitch of a car horn; the melody of a songbird. Indidually they seem inconsequential or even annoying, but when combined they can create something far greater than the sum of their pieces. With only 12 different notes, a multitude of songs have been written playing them in a different rhythms, putting them in different orders, and putting them ontop of eachother.  
                    <br><br>I know how hard life can get and I strive to make an excellent product that musicians can use to make their lives even a little bit easier. Not everyone thinks about putting the key and bpm on their setlists, but in the moment, it can be a life saver. Even just knowing if the song is going to be substancially faster or slower is incredibly helpful when you are trying to start the next song off without slowing down 30 seconds into it because it was way too fast, and now it's impossible to squeeze all of the lyrics in! I don't know anyone whose done that... Clearly, I use this myself and am always looking for ways to improve it.
                
                   <br><br> "Music touches us emotionally, where words alone can't".</h3>
            </div>
        </div>
    
</div>
</div>
<div class="m-5 p-5">

</div>
    <%- include('partials/footer') -%>
    </body>