<body class=" bg-dark">
<%- include('partials/header') -%>
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  </script>
</head>
<!-- <main class="container">
    <div class="flex flex-col">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main> -->

    <div class="px-4 pt-5 my-5 text-center ">
        <h1 class="display-4 fw-bold text-light">SetLiszt</h1><h2 class="display-4 fw text-danger"><b>Setlist Creator For Musicians</b></h2>
        <div class="col-lg-6 mx-auto">
          <h2 class=" mb-4 text-light">Add songs, make a setlist<br>And have all your friends like it!</h2>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="/login"   class="btn btn-primary btn-lg px-4 me-sm-3">Log In</a>
            <a href="/signup" class="btn text-light btn-outline-secondary btn-lg px-4 bg-warning" >Sign Up</a>
          </div>
        </div>
        <div class="" style="max-height: 30vh;">
          <div class="contain">
            <img src="https://cdn.musora.com/image/fetch/w_1400,q_auto:good/https://pianote-blog.s3.us-east-2.amazonaws.com/wp-content/uploads/2021/10/22083858/Liszticle-02-2400x1319.jpg" class="img-fluid border cover rounded-5 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy" style="object-fit: cover;  object-position: 0% -0">
          </div>
        </div>
      </div>
      <div class="m-5 p-5">

      </div>
      
      

    
<%- include('partials/footer') -%><!-- row justify-content-around mt-5 -->
</body>